
@{
    ViewData["Title"] = "Home Page";

    //IList<Blog> blogs = new List<Blog>();

    //Author aa = new Author { Email = "author1@blogs.com", GivenName = "Author1", Surname = "AuthorName" };

    //blogs.Add(new Blog { BlogTitle = "Blog A", BlogUrl = "https://www.blogger.com/dashboard/reading", BlogDescription = "Blog A Content", Author = aa });

}



<div class="text-center">
    <h1 class="display-4">Welcome to Public Profiler</h1>
    <h2 class="display-6">Please select one of the links in the navigation bar</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
